<%= form_with(model: [:panel, :admin, question], local: true) do |form| %>
   <!-- Campo para Descrição da Pergunta -->
   <div>
      <%= form.label :description, style: "display: block", for: "exampleInputEmail1", class: "form-label mb-1" %>
      <%= form.text_area :description, class: "form-control bg-light-subtle mb-3",  id: "exampleInputEmail1", rows: 5 %>
   </div>

   <!-- Campo para Selecionar o Assunto -->
   <div>
      <%= form.label :subject, style: "display: block", for: "exampleInputEmail1", class: "form-label mb-1" %>
      <%= form.collection_select(:subject_id, @subjects, :id, :description, {}, { class: "form-select form-select-lg mb-3" }) %>
   </div>

   <!-- Respostas Existentes no Banco -->
   <div class="mb-3">
      <%= form.label :answers, style: "display: block", for: "exampleInputEmail1", class: "form-label mb-1" %>

      <div id="answers-container">
         <%= form.fields_for :answers do |answer_form| %>
            <div class="nested-answer mb-3">
               <div class="border rounded d-flex align-items-center gap-3">
                  <!-- Campo de texto ocupa a maior parte do espaço -->
                  <div class="flex-grow-1">
                     <%= answer_form.text_area :description, class: "form-control mb-2", rows: 5, placeholder: t('form.type_answer') %>
                  </div>

                  <!-- Check e Label lado a lado -->
                  <div class="form-check d-flex align-items-center gap-1">
                     <%= answer_form.radio_button :correct, true, class: "form-check-input" %>
                     <%= answer_form.label :correct, class: "form-check-label mb-0" %>
                  </div>
                  <!-- Botão para remover -->
                  <%= button_tag type: "button", class: "btn btn-danger btn-sm remove-answer", style: "padding-bottom: 0px;" do %>
                     <i class="fa-light fa-delete-right"></i>
                  <% end %>
               </div>
               <hr class="line-div-answers">
            </div>
         <% end %>
      </div>

      <!-- Botão para adicionar novas respostas -->
      <%= button_tag t('form.add_answer'), type: "button",  id:"add-answer-btn", class:"btn btn-card" %>
   </div>

   <!-- Botão de Submissão -->
   <div class="d-flex flex-column align-items-center">
      <%= form.submit nil, class: "btn btn-card mb-2" %>
   </div>
<% end %>

<!-- Template de Resposta Oculto (Para ser clonado) -->
<template id="answer-template">
   <div class="nested-answer mb-3">
      <input type="text" name="question[answers_attributes][][description]" class="form-control mb-2" placeholder:= "<%= t('form.type_answer') %>" >
      
      <div class="form-check">
         <input type="radio" name="question[answers_attributes][][correct]" value="true" class="form-check-input">
         <label class="form-check-label">Correta</label>
      </div>

      <!-- Botão para remover uma resposta -->
      <button type="button" class="btn btn-danger btn-sm remove-answer"></button>
      <hr class="line-div-answers">
   </div>
</template>