<main class="login-content d-flex align-items-center justify-content-center vh-100">
  <div class="card-alert-login mt-3 px-3">
    <%= render "users/shared/error_messages", resource: resource %>
  </div>

  <div class="col-12 col-sm-8 col-md-6 col-lg-4">
    <div class="text-center mb-4">
      <% if controller_name == 'sessions' %>
        <h1 class="title-edit"><%= t('devise.sessions.title_login') %></h1>
        <p style="font-size: 18px"><%= t('devise.sessions.subtitle_login') %></p>
      <% elsif controller_name == 'registrations' %>
        <h1 class="title-edit"><%= t('devise.registrations.title_signup') %></h1>
        <p style="font-size: 18px"><%= t('devise.registrations.subtitle_signup') %></p>
      <% elsif controller_name == 'passwords' %>
        <h1 class="title-edit"><%= t('devise.passwords.title_change') %></h1>
      <% end %>
    </div>
    
    <div class="card bg-primary-subtle">
      <div class="card-body m-sm-3">
        <div class="row">
          <!--Define a variável form_url dinamicamente-->
          <% form_url = 
            if controller_name == 'sessions'
              session_path(resource_name)
            elsif controller_name == 'registrations'
              registration_path(resource_name)
            elsif controller_name == 'passwords' && action_name == 'edit'
              password_path(resource_name)
            end
          %>
          <% form_method = controller_name == 'passwords' && action_name == 'edit' ? :put : :post %>
          <!--Cria uma variável form_options que só inclui data-turbo="false"
              %w[] = criar um array de strings | Verifica se o controller_name atual está dentro desse array-->
          <% form_options = %w[sessions registrations].include?(controller_name) ? { html: { data: { turbo: false } } } : {} %>

          <!--Usa as variáveis definidas acima, e **form_options expande dinamicamente o hash-->
          <%= form_with(model: resource, as: resource_name, url: form_url, method: form_method, **form_options.merge(local: true)) do |f| %>
            <div class="row">
              <div class="col-md-12">
                <%= f.label :email, class: "mb-1" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control bg-light-subtle mb-3" %>
              </div>

              <% if controller_name == 'sessions' %>
                <div class="col-md-12 mb-2">
                  <%= f.label t('form.password'), class: "mb-1" %>
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-control bg-light-subtle" %>
                  <%= render "users/shared/forgot_password_link" %>
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="field mb-3">
                    <%= f.check_box :remember_me, class: "form-check-input" %>
                    <%= f.label :remember_me, t('devise.sessions.remember') %>
                  </div>
                <% end %>

                <div class="actions">
                  <%= f.submit t('devise.sessions.btn_login'), class: "btn btn-card-login" %>
                </div>

              <% elsif controller_name == 'registrations' %>
                <div class="col-md-12 mb-2">
                  <%= f.label t('form.password'), class: "mb-1" %>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> <%= t('devise.registrations.password_characters') %>)</em>
                  <% end %>
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control bg-light-subtle" %>
                </div>

                <div class="col-md-12 mb-3">
                  <%= f.label t('form.password_confirmation'), class: "mb-1" %>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control bg-light-subtle" %>
                </div>

                <div class="actions">
                  <%= f.submit t('devise.registrations.btn_signup'), class: "btn btn-card-login" %>
                </div>

              <% elsif controller_name == 'passwords' && action_name == 'edit' %>
                <%= f.hidden_field :reset_password_token, value: params[:reset_password_token] %>

                <div class="col-md-12 mb-2">
                  <%= f.label t('form.password'), class: "mb-1" %>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> <%= t('devise.registrations.password_characters') %>)</em>
                  <% end %>
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control bg-light-subtle" %>
                </div>

                <div class="col-md-12 mb-3">
                  <%= f.label t('form.password_confirmation'), class: "mb-1" %>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control bg-light-subtle" %>
                </div>

                <div class="actions">
                  <%= f.submit t('devise.passwords.title_change'), class: "btn btn-card-login" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="text-center mt-2">
      <% if controller_name == 'sessions' %>
        <p style="font-size: 18px; margin-bottom: 6px;"><%= t('devise.sessions.text_no_signup') %><%= render "users/shared/sign_up_link" %></p>
      <% elsif controller_name == 'registrations' %>
        <p style="font-size: 18px; margin-bottom: 6px;"><%= t('devise.registrations.text_login') %><%= render "users/shared/log_in_link" %></p>
      <% end %>
      <%= link_to t('devise.shared.btn_back'), "/site/index" , class:"login-link2", style:"font-size: 18px" %>
    </div>
  </div>
</main>