<!-- CARD DE USUARIOS-->
<% user_counts_total = (@user_counts[0] + @user_counts[1] + @user_counts[2]) %>
<div class="col-md-4">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="card-title"><%= t("statistics.admin.total_users") %></h3>
        <div class="stat text-primary">
          <i class="fa-light fa-users"></i>
        </div>
      </div>
      <h1 class="mt-3"><%= user_counts_total %></h1>
      <div>
        <span class="text-card-home"><%= t("statistics.admin.total_users_standard") %></span>
        <span class="text-card-home" style="font-weight: 600;"><%= @user_counts[0] || 0 %></span>
      </div>
      <div>
        <span class="text-card-home"><%= t("statistics.admin.total_users_admins") %></span>
        <span class="text-card-home" style="font-weight: 600;"><%= (@user_counts[1] || 0) + (@user_counts[2] || 0) %></span>      
      </div>
    </div>
  </div>
</div>

<div class="col-md-4">
  <!-- Gráfico 1 Progresso Geral -->
  <div class="card" style="align-items: center;">
    <div class="card-header">
      <h5 class="card-title card-title-chart mb-0"><%= t("statistics.chart.activeUsers")%></h5>
    </div>
    <div class="card-body">
      <canvas id="activeUsers" width="200" height="200"></canvas>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    
    //Grafico 1
    const canvasActiveUsers = document.getElementById("activeUsers")
    const graphicsActiveUsers = canvasActiveUsers.getContext("2d")

    // Chart e um objeto da biblioteca Chart.js
    const chartActiveUsers = new Chart(graphicsActiveUsers, {
      type: 'doughnut', //Tipo de gráfico 
      data: {
        labels: ['Usuários ativos', 'Usuários cadastrados'], // Rótulos das fatias do gráfico

        datasets: [{ // Conjunto de dados (pode ter mais de um)
            data: [ // Valores numéricos 
              <%= @users_who_answered %>, 
              <%= @user_counts[0] - @users_who_answered %>
            ], 
            backgroundColor: ['#e9ecef', '#495057'], // Cor de fundo de cada fatia
            borderWidth: 1 // Espessura da borda da fatia
        }]
      },
      options: { // Opções de personalização
        responsive: false, // O gráfico se adapta ao tamanho da tela
        cutout: '75%', // Aqui você controla a espessura
        plugins: {
          legend: {
            display: false
          }
        }
      }
    })
  })
</script>
