<!-- CARD DE USUARIOS-->
<% user_counts_total = (@user_counts[0] + @user_counts[1] + @user_counts[2]) %>
<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-evenly align-items-center">
        <h3 class="card-title"><%= t("statistics.admin.total_users") %></h3>
        <div class="stat text-primary">
          <i class="fa-light fa-users"></i>
        </div>
      </div>
      <h1 class="text-center pb-2" style="font-size: 35px;"><%= user_counts_total %></h1>
      <div>
        <span class="text-card-home"><%= t("statistics.admin.total_users_standard") %></span>
        <span class="text-card-home" style="font-weight: 600;"><%= @user_counts[0] || 0 %></span>
      </div>
      <div>
        <span class="text-card-home"><%= t("statistics.admin.total_users_admins") %></span>
        <span class="text-card-home" style="font-weight: 600;"><%= (@user_counts[1] || 0) + (@user_counts[2] || 0) %></span>      
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="card" style="align-items: center;">
    <div class="card-header">
      <h3 class="card-title card-title-chart mb-0"><%= t("statistics.chart.activeUsers")%></h3>
    </div>
    <div class="card-body">
      <canvas id="activeUsers" width="200" height="200"></canvas>
    </div>
  </div>
</div>

<script>
  // Chart e um objeto da biblioteca Chart.js
  async function loadChartDataUsers() {
    const response = await fetch('/api/charts/active_users');
    const activeUsers = await response.json();

    const canvasActiveUsers = document.getElementById("activeUsers").getContext("2d")

    const chartActiveUsers = new Chart(canvasActiveUsers, {
      type: 'doughnut', //Tipo de gráfico 
      data: {
        labels: ['Usuários ativos', 'Usuários inativos'], // Rótulos das fatias do gráfico
        datasets: [{ // Conjunto de dados (pode ter mais de um)
          data: [activeUsers.active, activeUsers.inactive], 
          backgroundColor: ['#4bc0c0', '#ff6384'], // Cor de fundo de cada fatia
          borderWidth: 1 // Espessura da borda da fatia
        }]
      },
      options: { // Opções de personalização
        responsive: false, // O gráfico se adapta ao tamanho da tela
        cutout: '75%', // Aqui você controla a espessura
        plugins: {
          legend: {
            display: false
          }
        }
      }
    })
  }

  document.addEventListener("DOMContentLoaded", () => {
    loadChartDataUsers();
    setInterval(loadChartDataUsers, 60000); // Atualiza a cada 60 segundos
  });
</script>
