<!-- Este e-mail é enviado automaticamente quando o usuário é cadastrado pelo administrador geral -->
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #6e77bee0; padding: 40px 0; font-family: Arial, sans-serif;">
  <tr>
    <td align="center">
      <table width="600" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff; border-radius: 8px; overflow: hidden;">
        <tr>
          <td style="background-color: #3f4689; padding: 20px; text-align: center; color: white; font-size: 24px; font-weight: bold;">
            <%= t("mailer.new.title") %>
          </td>
        </tr>
        <tr>
          <td style="padding: 30px; color: black; font-size: 18px; text-align: center">
            <h2 style="margin-top: 0; font-size: 25px;">
              <%= t("mailer.new.welcome") %> <%= @user.first_name.presence || @user.email %>
            </h2>

            <p style="margin: 25px 0; text-align: left;">
              <%= t("mailer.new.admin_notice") %>
            </p>

            <p style="margin: 25px 0; text-align: left;">
              <%= t("mailer.new.self_notice") %>
            </p>

            <p style="margin: 25px 0; text-align: left;">
              <strong><%= t("mailer.new.temporary_password") %></strong>
            </p>

            <p style="margin: 25px 0; text-align: left;">
              <%= t("mailer.new.change_password_prompt") %>
            </p>

            <p style="margin: 25px 0; text-align: left;">
              <%= t("mailer.new.assistance") %>
            </p>

            <p style="margin: 25px 0; text-align: left; font-style: italic;">
              <%= t("mailer.new.footer") %>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>