<!--Calculo da porcentagem do total de perguntas para o usuario-->
<% total_questions_site = @total_questions_count %>
<% total_user = @user_statistic.total_questions %>
<% percent_total_questions = total_questions_site > 0 ? (total_user.to_f / total_questions_site * 100).round(1) : 0 %>

<!--Calculo da porcentagem do total de respostas certas-->
<% total_user_right = @user_statistic.right_questions %>
<% percent_answers_right = total_questions_site > 0 ? (total_user_right.to_f / total_questions_site * 100).round(1) : 0 %>

<!--Calculo da porcentagem do total de respostas erradas-->
<% total_user_wrong = @user_statistic.wrong_questions %>
<% percent_answers_wrong = total_questions_site > 0 ? (total_user_wrong.to_f / total_questions_site * 100).round(1) : 0 %>

<% cardsUser = [
  {title1: t("statistics.right_answered"), value1: @user_statistic.right_questions, icon: "fa-comment-check", 
    title2: t("statistics.label.right"), value2: "#{percent_answers_right} %"},
  {title1: t("statistics.wrong_answered"), value1: @user_statistic.wrong_questions, icon: "fa-comment-xmark", 
    title2: t("statistics.label.wrong"), value2: "#{percent_answers_wrong} %"},
  {title1: t("statistics.total_answered"), value1: @user_statistic.total_questions, icon: "fa-comments-question", 
    title2: t("statistics.label.answered"), value2: "#{percent_total_questions} %"}
] %>

<div class="d-flex flex-column justify-content-center">
  <% cardsUser.each do |cardUser| %>
    <div class="card px-3 py-3">
      <div class="card-body d-flex justify-content-center align-items-center py-0">
        <h3 class="card-title-user px-2"><%= cardUser[:title1] %></h3>
        <div class="stat text-primary">
          <i class="fa-light <%= cardUser[:icon] %>"></i>
        </div>
      </div>
      <h1 class="text-center text-user pb-2"><%= cardUser[:value1]  %></h1>
      <div class="px-3">
        <span class="text-card-home"><%= cardUser[:title2] %></span>
        <span class="text-card-home-number"><%= cardUser[:value2] %></span>
      </div>
    </div>
  <% end %>
</div>
