<%= form_with(model: [:panel, :admin, user], local: true) do |form| %>

   <div class="row g-3">
      <div class="col-md-12">
         <%= form.text_field :username, class: "form-control bg-light-subtle mb-2", placeholder: t('form.name'), disabled: true, aria: { label: t('form.first_name') } %>
      </div>
      <div class="col-md-12">
         <%= form.text_field :address, class: "form-control bg-light-subtle mb-2", placeholder: t('form.address'), disabled: true, aria: { label: t('form.address') } %>
      </div>
      <div class="col-md-12">
         <%= form.text_field :email, class: "form-control bg-light-subtle mb-2", placeholder: t('form.email'), disabled: true, aria: { label: t('form.email') } %>
      </div>
      
      <h5 class="form-label mb-0"><%= t('form.user_type') %></h5>
      <div class="col-md-12 d-flex justify-content-around">
         <div class="form-check">
            <%= form.radio_button :user_type, 0, class: "form-check-input", id: "user_type_0", disabled: current_user.user_type != 2 %>
            <%= form.label :user_type_0, t('form.user_type_0'), class: "form-label", style: "font-weight: 500" %>
         </div>
         <div class="form-check">
            <%= form.radio_button :user_type, 1, class: "form-check-input", id: "user_type_1", disabled: current_user.user_type != 2 %>
            <%= form.label :user_type_1, t('form.user_type_1'), class: "form-label", style: "font-weight: 500" %>
         </div>
         <div class="form-check">
            <%= form.radio_button :user_type, 2, class: "form-check-input", id: "user_type_2" %>
            <%= form.label :user_type_2, t('form.user_type_2'), class: "form-label", style: "font-weight: 500" %>
         </div>
      </div>
      <div>
         <%= form.submit t(@user.new_record? ? 'form.btn_new' : 'form.btn_edit'), class: "btn btn-card mb-2" %>
      </div>
   </div>
<% end %>
