<div class="col-6 col-xl-5 me-4 ms-4">
  <div class="card bg-primary-subtle py-3 px-4">
    <%= render "panel/admin/shared/subject_search", url: panel_admin_answer_path, title: t("answer.title_subjects") %>
    <table class="table table-striped table-hover">
      <tbody>
        <% @subjects.each do |subject| %>
          <tr>
            <td data-id="<%= subject.id %>" onclick="OnClickSubject(event)">
              <%= subject.description %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @subjects %> 
</div>

<div class="d-flex flex-column me-4 cardMain align-items-center">
  <div id="cardQuestion">
    <div class="card bg-primary-subtle py-3 px-4">
      <div class="card-header bg-primary-subtle py-2">
        <h1 class="title-edit"><%= t('answer.title_questions') %></h1>
      </div>
      <div id="questions">
        <table class="table table-striped table-hover">
          <tbody id="tableQuestions"></tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Card das Respostas -->
  <div class="mt-2" id="cardAnswer">
    <div class="card bg-primary-subtle py-3 px-4">
      <div class="card-header bg-primary-subtle py-2">
        <h1 class="title-edit"><%= t('answer.title_answers') %></h1>
      </div>
      <div>
        <div>
          <div class="alert alert-danger alert-dismissible fade d-none fw-semibold text-center" role="alert" id="answerWrong">
            <%= t('answer.answer_wrong') %>
          </div>
          <div class="alert alert-success bg-success alert-dismissible fade d-none fw-semibold text-center" role="alert" id="answerCorrect">
            <%= t('answer.answer_correct') %>
          </div>
        </div>
        <ul class="list-group list-group-flush" id="listAnswers"></ul>
        <%= button_tag t('answer.button_answers'), type: 'button', onclick: 'SubmitAnswer()', class:"btn btn-card my-3" %>
      </div>
    </div>
  </div>
</div>