<%= render "layouts/meta" %>
<%= stylesheet_link_tag "panel/panel", media: "all", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "site/login", media: "all", "data-turbo-track": "reload" %>

<main class="login-content d-flex align-items-center justify-content-center vh-100">
  <div class="card-alert-login mt-3 px-3">
    <%= render "users/shared/error_messages", resource: resource %>
  </div>

  <div class="col-12 col-sm-8 col-md-6 col-lg-4">
    <div class="text-center mb-2">
      <h2 class="title-edit"><%= t('devise.passwords.title_forgotPassword') %></h2>
    </div>
    <div class="card bg-primary-subtle p-2">
      <div class="card-body">
        <p style="text-align: center; font-weight: 500;"><%= t('devise.passwords.subtitle') %></p>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, data: { turbo: false }}) do |f| %>
            <div class="form-floating mb-3">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id:"floatingInput", placeholder: "seu@email.com" %>
              <%= f.label :email, "Email", for:"floatingInput" %>
            </div>

            <div class="actions ">
              <%= f.submit t('devise.passwords.btn_resetPassword'), class: "btn btn-card-login" %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="text-center mt-2">
      <%= link_to t('devise.shared.btn_back'), "/site/index" , class:"login-link2 ", style:"font-size: 18px" %>
    </div>
  </div>
</main>