<title><%= content_for(:title) || "Time To Answer" %></title>
<%= tag.meta name: "viewport", content: "width=device-width,initial-scale=1,shrink-to-fit=no" %>
<%= tag.meta name: "apple-mobile-web-app-capable", content: "yes" %>
<%= tag.meta name: "mobile-web-app-capable", content: "yes" %>
<%= tag.meta charset: "utf-8" %>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<!-- Twitter Bootstrap -->
<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css", 
                     integrity: "sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==", 
                     crossorigin: "anonymous", 
                     referrerpolicy: "no-referrer"%>
<!-- JQuery -->
<%= javascript_include_tag "https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js" %>

<!-- Bootstrap Growl -->
<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.js", 
                     integrity: "sha512-4fpPq5LCcSAofCKmaM58RSbjpVRUqjx8nKAaBQVFay4MRo7FLafbt6bUNUfUbTZcSMzRNxZuVj3shwHA6ZeiOQ==", 
                     crossorigin: "anonymous", 
                     referrerpolicy: "no-referrer" %>