<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <h2 class="title-menu"><%= t('sidebar.title_menu') %></h2>

    <ul class="sidebar-nav">
      <li class="sidebar-item my-2" style="border: solid 0.75px rgb(147, 155, 187);"></li>
      <li class="sidebar-item">
        <%= link_to panel_home_index_path, class:"sidebar-link" do %>
          <i class="fa-light fa-sliders-up align-middle"></i>
          <span class="align-middle"><%= t('sidebar.dashboard') %></span>
        <% end %>
      </li>

      <% unless [ 0, 1 ].include?(current_user.user_type) %>
        <li class="sidebar-item active">
          <%= link_to panel_admin_admins_path, class:"sidebar-link" do %>
            <i class="fa-light fa-user-group align-middle"></i>
            <span class="align-middle"><%= t('sidebar.administrators') %></span>
          <% end %>
        </li>
      <% end %>

      <% unless [1, 2].include?(current_user.user_type) %>
        <li class="sidebar-item active">
          <%= link_to panel_admin_user_profile_path(current_user), class:"sidebar-link" do %>
            <i class="fa-light fa-user align-middle"></i>
            <span class="align-middle"><%= t('sidebar.profile') %></span>
          <% end %>
        </li>
      <% end %>

      <% if current_user.user_type.in?([1, 2]) %>
        <li class="sidebar-item active">
          <%= link_to panel_admin_users_path, class:"sidebar-link" do %>
            <i class="fa-light fa-user-group align-middle"></i>
            <span class="align-middle"><%= t('sidebar.users') %></span>
          <% end %>
        </li>

        <li class="sidebar-item active">
          <%= link_to panel_admin_subjects_path, class:"sidebar-link" do %>
            <i class="fa-light fa-memo-pad align-middle"></i>
            <span class="align-middle"><%= t('sidebar.subjects') %></span>
          <% end %>
        </li>
    
        <li class="sidebar-item active">
          <%= link_to panel_admin_questions_path, class:"sidebar-link" do %>
            <i class="fa-light fa-file-circle-question align-middle"></i>
            <span class="align-middle"><%= t('sidebar.questions') %></span>
          <% end %>
        </li>
      <% end %>

      <% if current_user.user_type == 0 %>
        <li class="sidebar-item active">
          <%= link_to panel_admin_answer_path, class:"sidebar-link" do %>
            <i class="fa-light fa-file-circle-question align-middle"></i>
            <span class="align-middle"><%= t('sidebar.questions') %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>