<nav id="sidebar" class="sidebar js-sidebar">
   <div class="sidebar-content js-simplebar">
      <h2 class="title-menu"><%= t('sidebar.title_menu') %></h2>

      <ul class="sidebar-nav">
         <li class="sidebar-header"><%= t('sidebar.subhead') %></li>
         <li class="sidebar-item">
            <%= link_to panel_home_index_path, class:"sidebar-link" do %>
               <i class="fa-light fa-sliders-up align-middle"></i>
               <span class="align-middle"><%= t('sidebar.dashboard') %></span>
            <% end %>
         </li>
         <li class="sidebar-item active">
            <%= link_to panel_admin_admins_path, class:"sidebar-link" do %>
               <i class="fa-light fa-user-group align-middle"></i>
               <span class="align-middle"><%= t('sidebar.administrators') %></span>
            <% end %>
         </li>
         <li class="sidebar-item active">
            <%= link_to '', class:"sidebar-link" do %>
               <i class="fa-light fa-memo-pad align-middle"></i>
               <span class="align-middle"><%= t('sidebar.subjects') %></span>
            <% end %>
         </li>
      </ul>
   </div>
</nav>