<!DOCTYPE html>
<html>
   <head>
      <%= render "layouts/meta" %>   
      <!--Adicionado do TEMPLATE-->
      <%= tag.link rel: "preconnect", href: "https://fonts.gstatic.com" %>
      <%= tag.link rel: "canonical", href: "https://demo-basic.adminkit.io/pages-blank.html" %>

      <%= stylesheet_link_tag "https://unpkg.com/@adminkit/core@latest/dist/css/app.css", media: "all", rel: "stylesheet" %>
      <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap", media: "all", rel: "stylesheet" %>
      <!--Adicionado projeto-->
      <%= stylesheet_link_tag "panel", media: "all", "data-turbo-track": "reload" %>
      <%= stylesheet_link_tag "admin/card", media: "all", "data-turbo-track": "reload" %>

   </head>
   <body>
      <div class="wrapper">
         <!--MENU LATERAL-->
         <%= render "layouts/sidebar" %>  
         <!--Navegador-->
         <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg" >
               <a class="sidebar-toggle js-sidebar-toggle">
                  <i class="hamburger align-self-center"></i>
               </a>
               <div class="navbar-collapse collapse">
                  <ul class="navbar-nav navbar-align">
                     <li class="nav-item dropdown">
                        <span class="nav-link dropdown-toggle d-none d-sm-inline-block" data-bs-toggle="dropdown">
                           <i class="fa-regular fa-user user-nav"></i>
                           <%= current_user.email %>
                         </span>
                        <div class="dropdown-menu dropdown-menu-end">
                           <%= button_to destroy_user_session_path, method: :delete, class:"dropdown-item btn-logout" do %>
                              <i class="fa-regular fa-arrow-right-from-bracket me-1"></i>
                              <%= t('navbar.logout')%>
                           <% end %>
                        </div>
                     </li>
                  </ul>
               </div>
            </nav>

            <main class="content px-3 py-4 ">
               <div class="container-fluid p-0 d-flex justify-content-center">
                  <%= yield %> 
               </div>
            </main>

            <footer>
               <p></p>
            </footer>
         </div>
      </div>
      <%= javascript_include_tag "https://unpkg.com/@adminkit/core@latest/dist/js/app.js" %>
   </body>
</html>