<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/meta" %>   
    
    <!--Adicionado do TEMPLATE-->
    <%= tag.link rel: "preconnect", href: "https://fonts.gstatic.com" %>
    <%= tag.link rel: "canonical", href: "https://demo-basic.adminkit.io/pages-blank.html" %>
    <%= stylesheet_link_tag "https://unpkg.com/@adminkit/core@latest/dist/css/app.css", media: "all", rel: "stylesheet" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap", media: "all", rel: "stylesheet" %>
    <%= javascript_include_tag "https://unpkg.com/@adminkit/core@latest/dist/js/app.js" %>
    
    <!--Adicionado projeto-->
    <%= stylesheet_link_tag "panel/panel", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "panel/sidebar", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "panel/dashboard", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "panel/card", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "panel/user_answer", media: "all", "data-turbo-track": "reload" %>
    
  </head>
  <body>
    <div class="wrapper">
      <%= render "layouts/flash_error" %>
      <!--MENU LATERAL-->
      <%= render "layouts/sidebar" %>  
      <!--Navegador-->
      <div class="main">
        <%= render "layouts/navbar" %>

        <main class="content px-3 py-4 ">
          <div class="container-fluid p-0 d-flex justify-content-center">
            <%= yield %> 
          </div>
        </main>

        <footer class="text-center py-1">
          <span><%= t('footer.text') %></span>
          <%= link_to "https://github.com/NicolyMeneghesso", target:"_blank", rel:"noopener noreferrer", class: "d-inline-flex align-items-center gap-1 mt-2 github" do %>
            <i class="fa-brands fa-github"></i>
            <%= t('footer.name') %>
          <% end %>
        </footer>
      </div>
    </div>
  </body>
</html>