<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #6e77bee0; padding: 40px 0; font-family: Arial, sans-serif;">
  <tr>
    <td align="center">
      <table width="600" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff; border-radius: 8px; overflow: hidden;">
        <tr>
          <td style="background-color: #3f4689; padding: 20px; text-align: center; color: white; font-size: 24px; font-weight: bold;">
            <%= t("devise.mailer.reset_password_instructions.title") %>
          </td>
        </tr>
        <tr>
          <td style="padding: 30px; color: black; font-size: 18px;">
            <h2 style="margin-top: 0; font-size: 23px; text-align: center;">Olá, <%= @resource.first_name || @resource.email %></h2>
            <p style="margin: 25px 0 40px 0; text-align: justify;"><%= t("devise.mailer.reset_password_instructions.num1") %></p>

            <!-- Botão centralizado -->
            <div style="text-align: center;">
              <a href="<%= edit_password_url(@resource, reset_password_token: @token) %>"
                 style="display: inline-block; padding: 16px 30px; background-color: #3f4689; 
                        color: white; text-decoration: none; border-radius: 6px;">
                <%= t("devise.mailer.reset_password_instructions.buttom") %>
              </a>
            </div>

            <p style="margin: 40px 0 15px 0; text-align: justify"><%= t("devise.mailer.reset_password_instructions.num2") %></p>
            <p style="margin-top: 0; text-align: justify"><%= t("devise.mailer.reset_password_instructions.num3") %></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>